.title h1 {
    background-color: black;
    padding: 5vh 0;
    font-size: 6vw;
    color: #00fff9;
    text-shadow: #f000ff 0.1em 0.1em 0.2em;
    font-family: 'Tilt Neon', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
    width: 50%;
    min-height: 100%;
}

@media (max-width: 768px) {
    .container__progressbars {
        width: 100%;
    }
}