@import '../../Utilities/colors.scss';

.container {
    background-color: black;
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.navbar {}

.rotulos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rotulo_pagina {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.mobile_menu_icon {
    display: none;
}

.mobile_menu {
    display: none;
}

.rotulo_pagina:hover {
    text-decoration: underline white;
    text-underline-offset: 0.4rem;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .logo img {
        display: none;
    }

    .nav_item {
        display: none;
    }

    .mobile_menu_icon {
        display: block;
    }

    .mobile_menu_icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile_menu {
        // display: block;
    }

    .mobile_menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}